<% include ./partial/header %>
<br><br><br><br><br><br><br><br>
<head>
    <style>
        button:hover{
            background-color: green;
        }
    </style>
</head>
<div class="container" style="margin-left: 28%; background-color: pink; width: 45%;">
<h1>NSTI DEHRADUN UTTARAKHAND</h1>

<table border="1" style="margin-left:10%">
    <tr>
        <th>Name</th>
        <td><%=leave.name %></td>
    </tr>
<tr>
    <th>reason</th>
    <td><%= leave.subject %></td>
</tr>
<tr>
    <th>From</th>
    <td><%= leave.from %></td>
</tr>
<tr>
    <th>To</th>
    <td><%= leave.to %></td>
</tr>
<tr>
    <th>Days</th>
    <td><%= leave.days %></td>
</tr>
<tr>
    <th>Status</th>
    <td><%= leave.status %></td>
</tr>

<tr>
    <th>percentage</th>
   <td> <%=leave.percentage %></td>
</tr>

<tr>
    <th>Room No</th>
   <td> <%=leave.roomno %></td>
</tr>
<tr>
    <th>Final Status</th>
   <td> <%=leave.principalstatus %></td>
</tr>
</table>
<button onclick="window.print()" style="margin-left: 40%;">PDF</button> 
</div>
<% include ./partial/footer %> 